In [1]:
import pandas as pd
import numpy as np

url = 'https://www.dropbox.com/s/3x230qb3fkopij3/datastream_asset.xlsx?dl=1'
asset = pd.read_excel(url, sheet_name='asset')

In [2]:
asset = pd.melt(asset, id_vars='Code', value_vars=asset.columns[1:],
    value_name='asset')
asset['isin'] = asset['variable'].str[:12]
asset = asset[['isin','Code','asset']]
asset = asset.rename(columns={'Code': 'year'})
asset.head()

           isin  year      asset
0  US0378331005  2000  6803000.0
1  US0378331005  2001  6021000.0
2  US0378331005  2002  6228000.0
3  US0378331005  2003  6755000.0
4  US0378331005  2004  7964000.0